.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.615;
  color: #fff;
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 896px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 544px) {
  .place__paragraph {
    line-height: 1.63;
  }
}
